body {
    padding: 0;
    margin: 0;
}

.product-container {
    position: relative;
    width: 800px;
    margin: 0 auto;
}

.waypoint-container {
    height: 10px;
}

.waypoint {
    margin-top: 10px;
}
